/* import font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}

.text-lightgray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-orange{
    color: #ff900e;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* header styles */


/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.banner-image{
    width: 100%;
}
/* main-section */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.teams{
    align-items: center;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list{
    font-weight: 500;
}
/* feature styles */
#feature-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.features{
    gap:140px
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;

}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
/* fact-styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #ff900e;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-num{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.factname{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsor styles */
.sponsor-info{
    margin:50px auto;
    max-width: 540px;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* responsive media query */
 @media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container, .fact-container, .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-container, .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }.fact{
        text-align: center;
    }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .sponsor-companies, .fact-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
}